*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  /*   font-size: 35px; */
  }

/* body {
    background-color: #000;
  } */
  
  /* Default height for small devices */
  #intro-example {
    height: 400px;
    background-image: url('./img/books.png');
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
  
  @media (min-width: 576px) {
    #intro {
      height: 600px;
    }
  }
