{% extends "layout.html" %}
   {% block title %}Sign Up{% endblock %}

    {% block head %}
        <!-- Custom styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'signup.css') }}" />
    {% endblock %}

    {% block content %}
      <div class="background">
          <div class="content">
            <!-- Get all messages that have been flashed with their categories -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alter-dismissable fade show">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <h1>Sign Up</h1>

            <form method="POST" action="/signup">
              {{ form.hidden_tag() }}
              
              <fieldset class="form-group">

                <div class="username">
                {% if form.username.errors %}
                  {{ form.username(class="field is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.username.errors%}
                      <span>{{error}}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.username(class="field", placeholder="Enter username") }}
                {% endif %}
                </div>

                <div class="email">
                    {% if form.email.errors %}
                      {{ form.email(class="field space is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.email.errors%}
                            <span>{{error}}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                      {{ form.email(class="field space", placeholder="Enter email") }}
                  {% endif %}
                </div>

                <div class="password">
                    {% if form.password.errors %}
                      {{ form.password(class="field space is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.password.errors%}
                            <span>{{error}}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                      {{ form.password(class="field space", placeholder="Enter password") }}
                  {% endif %}
                </div>

                <div class="confirm-password">
                    {% if form.confirm_password.errors %}
                      {{ form.confirm_password(class="field space is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors%}
                            <span>{{error}}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                      {{ form.confirm_password(class="field space", placeholder="Confirm password") }}
                  {% endif %}
                </div>
      
              </fieldset>

              <div class="forgot-pass">
                <a href="#">Click below to complete sign up</a>
              </div>

              <div class="field">
                {{ form.submit(class="btn btn-outline-info") }}
              </div>

              <div class="signup">
                Already have an account? <a href="{{ url_for('login') }}">Login Now</a>
              </div>
            </form>
          </div>
                  
      </div>
    {% endblock %}
     