{% extends "layout.html" %} 
    {% block title %}Home page{% endblock %}
    {% block head %}
        <!-- Custom styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    {% endblock %}

    {% block header %}
        <!-- Background image -->
        <div id="intro-example" class="p-5 text-center bg-image" style="height: 100vh;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">BooksHub</h1>
                        <h5 class="mb-4">A web app for book lovers and everyday readers</h5>
                        <h5 class="mb-4">Login or signup below to explore a world of possibilities with us through books!</h5>
                        <a class="btn btn-outline-light btn-lg m-2" href="{{ url_for('auth.login') }}" role="button">Login</a>
                        <a class="btn btn-outline-light btn-lg m-2" href="{{ url_for('auth.signup') }}" role="button">Signup</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    {% endblock %}
          
    {% block content %}
    {% endblock %}