<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" href="/website/static/user_landing.css">
    <title>Welcome</title>
</head>
<body>
    <time id="time">12:17:04 PM</time>
    <h1>
        <span id="greeting">Good Afternoon</span>
        <span id="name">Brad</span>
    </h1>

    <h2>What Do You Want To Read Today?</h2>
    <h2 id="focus" contenteditable="true">Find some interesting books</h2>

    <script src="/website/static/js/user_landing.js"></script>
</body>
</html>