{% extends "layout.html" %} 
    {% block title %}Welcome{% endblock %}
    {% block head %}
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'user_landing.css') }}" />
    <!-- <link rel="stylesheet" href="/website/static/user_landing.css"> -->
    {% endblock %}

    <!-- <title>Welcome</title> -->
{% block content %}
<body>
    
    <time id="time"></time>
    <h1>
        <span id="greeting"></span>
        <span id="username" contenteditable="true">Brad</span>
    </h1>

    <h2>What Do You Want To Read Today?</h2>
    <h2 id="focus" contenteditable="true">Find some interesting books</h2>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/mdb.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/user_landing.js') }}"></script>
    <!-- <script src="/website/static/js/user_landing.js"></script> -->
</body>
{% endblock %}