*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  /*   font-size: 35px; */
}

  /* Default height for small devices */
  #intro-example {
    height: 400px;
    background-image: url('./img/mlbooks.jpg');
  }

.books {
  margin-top: 5%;
  text-align: center;
  position: center;
}

.book_cover_button{
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #fff9f9;
}
  
.book_cover{
float: left;
border-radius: 12px;
height:300px; 
width:200px; 
}
  
  /* Slideshow container */
.slide_show_container {
  /*   position: absolute; */
    max-width: 1000px;
    position: relative;
    margin: auto;
  /*   overflow: hidden; */
  /*   white-space:nowrap; */
  }
  
  
  /* .slide_fade {
    display: none;
    text-align: center;
  }
   */
  
  .right {
    float: right;
    background-color: #C5CBE3;
    color: #896363;
    top: 50%;
    width: auto;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    margin-top: 10%;
  }
  
  .left {
    float: left;
    background-color: #C5CBE3;
    color: #896363;
    top: 50%;
    width: auto;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    margin-top: 10%;
  }
    
  footer a {
    color: #3498db;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }